* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;        
    
}
body {
    background-color: #EAE4F7;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}
.App{
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 440px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(30, 4, 52, 0.05);
}
.box {
    background-color:#F3ECF9;
    padding: 15px 15px;
    border-radius: 16px;
    width: 100%;
    max-width: 440px;
    text-align: center;
}
#title {
    color: #280643;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}
#taskInput {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #D1B9FA;
    border-radius: 12px;
    font-size: 15px;
    color: #554466;
    margin-bottom: 16px;
    outline: none;
}
#taskInput:focus {
    border-color: #D1B9FA;
    box-shadow: 0 0 15px 4px rgba(192, 154, 245, 0.6);
}
#taskInput::placeholder {
    color: #9283a3;
}
#addBtn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #67166A, #3E0F4B);
    color: #FFFFFF ;
    font-size: 15px;
    font-weight: bolder;
    display: block;
    margin-bottom: 15px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
#addBtn:hover {
    background: linear-gradient(135deg, #7B1D7F, #4D145C);
    box-shadow:0 7px 18px rgba(62, 15, 75, 0.3);
}
p {
    font-size: 15px;
    color: #744c9f;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}
#message {
    color: #744c9f;
    font-weight: bold;
}
#taskList li {
    padding: 16px;
    background-color: #F3ECF9;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #1E0434;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#taskList li input {
    flex: 1;
    padding: 6px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    margin: 0 10px;
}
#taskList li input:focus {
    border-color: #a78ec1;
}
#taskList button {
    background-color: #7a217d;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;

}
